{% extends 'base.html.twig' %}

{% block title %}Gestion des Articles!{% endblock %}

{% block body %}
    <!-- DataTales Example -->
        
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Liste des articles</h6>
            </div>

          <div class="row">
            <div class="col-5 float-right">
              <a href="{{path("article_add")}}" class="btn btn-warning btn-icon-split" style="margin-left: 30px; margin-top: 15px;">
                <span class="icon text-white-50">
                  <i class="fas fa-plus"></i>
                </span>
                <span class="text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Nouveau</font></font></span>
              </a>
            </div>
          </div>
            <div class="card-body">
              <div class="table-responsive" >
                <table class="table table-bordered" id="tableCategorie" width="100%" cellspacing="0" >
                  <thead>
                    <tr>
                      <th class="w-25">Titre</th>
                      <th class="w-25">statut</th>
                      <th class="w-25">categorie</th>
                      <th class="w-25">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for article in articles %}
                      <tr>
                        <td>{{article.titre}}</td>
                        <td>{{article.isetat}}</td>
                        <td>{{article.categorie.libelle}}</td>
                        <td>

                          <a href="{{path("article_add",{id:article.id})}}" class="btn btn-warning btn-icon-split">
                            <span class="icon text-white-50">
                              <i class="fas fa-exclamation-triangle"></i>
                            </span>
                            <span class="text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Modifier</font></font></span>
                          </a>

                          <a href="{{path("article_delate",{id:article.id})}}" class="btn btn-danger btn-icon-split btn_delate" onClick="confirm('Veuillez confirmer la suppression')">
                            <span class="icon text-white-50">
                              <i class="fas fa-trash"></i>
                            </span>
                            <span class="text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Supprimer</font></font></span>
                          </a>
                        </td>
                      </tr>
                    {% else %}
                      Pas d'articles.
                    {% endfor %}
                    
                        
                  </tbody>
                </table>
              </div>
            </div>
          
          </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
 <!-- Page level plugins -->
  <script src="{{asset("vendor/datatables/jquery.dataTables.min.js")}}"></script>
  <script src="{{asset("vendor/datatables/dataTables.bootstrap4.min.js")}}"></script>

  <!-- Page level custom scripts -->
  <script src="{{asset("js/demo/datatables-demo.js")}}"></script>
 
  
{% endblock %}